<%% options = {} if local_assigns[:options].nil? %>

<div class="card shadow mb-3">
  <div class="card-header">

    <%% if options[:links] %>
      <%% options[:links].each do |link| %>
        <div class="<%%= options[:legacy] ? 'float-right' : 'float-end' %>">
          <%%= raw link[:path] %>
        </div>
      <%% end %>
    <%% end %>

    <nav class="d-none d-sm-block <%%= options[:legacy] ? 'float-left' : 'float-start' %>">
      <ul class="nav nav-tabs card-header-tabs nav-pills" id="nav-tab" role="tablist">
        <%% options[:breadcrumbs].each_with_index do |breadcrumb, index| %>
          <li class="nav-item" role="presentation">
            <%%= link_to raw("#{breadcrumb[:name]} #{icons__right}"), breadcrumb[:path], class: 'nav-link' %>
          </li>
        <%% end if options[:breadcrumbs] %>
      </ul>
    </nav>

    <nav>
      <ul class="nav nav-tabs card-header-tabs" id="nav-tab" role="tablist">
        <%% tabs.each_with_index do |tab, index| %>
          <li class="nav-item" role="presentation">
            <button class="nav-link <%%= options[:active_tab] ? ('active' if tab[:id] == options[:active_tab]) : ('active' if index == 0) %>"
                    id="nav-<%%= tab[:id].underscore %>-tab"
                    data-<%%= 'bs-' unless options[:legacy] %>toggle="tab"
                    data-<%%= 'bs-' unless options[:legacy] %>target="#nav-<%%= tab[:id] %>"
                    data-action="click->help-slider#setTab"
                    data-help-slider-tab-param="<%%= tab[:id] unless index == 0 %>"
                    type="button"
                    role="tab"
                    aria-controls="home-tab-pane" aria-selected="true">
              <span class="d-none d-sm-block">
                <%%= tab[:icon] %> <%%= tab[:name] %>
              </span>
              <span class=" d-block d-sm-none">
                <%%= tab[:icon] %> <%%= tab[:name] unless tab[:icon] %>
              </span>
            </button>
          </li>
        <%% end %>
      </ul>
    </nav>

  </div>
  <div class="card-body">
    <div class="tab-content" id="nav-tabContent">
      <%% tabs.each_with_index do |tab, index| %>
        <div class="tab-pane fade show <%%= options[:active_tab] ? ('active' if tab[:id] == options[:active_tab]) : ('active' if index == 0) %>"
             id="nav-<%%= tab[:id] %>" role="tabpanel" aria-labelledby="nav-home-tab">
          <%%= tab[:body] %>
        </div>
      <%% end %>
    </div>
  </div>
</div>