<div class="alert bg-info text-black" style="min-height: 55px;">
  <div class="row">
    <div class="col" style="max-width: 55px">
      <i class="fas fa-info-circle fa-2x fa-fw"></i>
    </div>
    <div class="col">
      <%= raw yield %>
    </div>
  </div>
</div>
