<div class="alert bg-warning text-black" style="min-height: 55px;">
  <div class="row">
    <div class="col fa-2x" style="max-width: 55px">
      <%= icons__warning %>
    </div>
    <div class="col">
      <%= raw yield %>
    </div>
  </div>
</div>
