<%% options = {} if local_assigns[:options].nil? %>

<div data-controller="filters"
     class="input-group"
     data-filters-url-value="<%%= path %>"
     data-filters-field-value="<%%= value %>">

  <input type="text"
         id="<%%= options[:id] %>"
         data-filters-target="value"
         class="form-control form-control-sm"
         data-action="keyup->filters#inputChanged keyup->supertable#fadeContent"
         placeholder="<%%= options[:placeholder] %>"
         value="<%%= current_user.filter(value) %>">

  <div class="input-group-append">
    <button class="input-group-text"
            data-action="click->filters#clear">
      <i class="fas fa-eraser"></i>
    </button>
  </div>
</div>